/*
CSS template for TrabBD
Last updated: 13/11/10 by Luiza
*/

/* General classes */
body {
	background-color: #002568;
}

.container {
	background-color: white;
}

#header {	
	color: white;
	height: 150px;
}

#menu {
	color: white;
	height: 60px;
}

#main {
	min-height: 500px
}

.center {
	text-align: center;
}


ul {
	list-style-type: none;
}

.hidd {
	display: none;
}

/* Classes for the control panel */

#cpTag {
	background-color: green;
	height: 25px;
}

#cpWrapper {
	height: 145px;
	border: 1px solid gray;
	bottom: -120px;
	overflow: hidden;
	position: fixed;
}

#cpPanel {
	height: 120px;
	background-color: #eee;
	display: none;
}

.cpButton {
	background-color: white;
	border: 1px solid gray;
	float: left;
	margin: 5px;
	height: 100px;
}

#cpGlobalEdit {
	
}

#cpLocalEdit {
	
}



/* Classes for the menu edit part */

.menu-cont {
	border: 1px solid black;
	height: 400px;
	padding: 15px;
}

.menu-list {
	background-color: #eee;
	float: left;
	padding: 5px;
}

.menu-list li, .page, #parent {
	margin: 5px;
	padding: 5px;
	background-color: white;
	border: 1px solid gray;
}

